{% extends 'base.html' %}

{% block extra-style %}
<style>
    .container{
        font-family: 'NanumSquareRound';
    }

    /* 입력 필드의 넓이 조절 */
    .form-control {
        width: 100%; /* 입력 필드 전체 넓이를 사용하도록 설정 */
    }

    /* 화면 중앙 정렬 */
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top : 50px; /* 화면 전체 높이를 차지하도록 설정 (선택 사항) */
    }

    /* 입력 필드와 레이블을 수직으로 중앙 정렬 */
    .form-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* 입력 필드 컨테이너의 넓이 설정 */
    .form-container {
        max-width: 800px; /* 입력 필드 컨테이너의 최대 넓이를 지정 (선택 사항) */
    }

    .title{
        text-align :center; 

    }

    .form-group{
        margin-bottom : 20px;
    }
</style>
{% endblock %}

<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">

{% block content %}
<div class="container mt-5">
    <div class="title">
        <h1>회원가입</h1>
        <p>아래의 정보를 입력해주세요.</p>
    </div>
    <div class="center">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% comment %} {{ user_form.as_p }}

            {{ profile_form.as_p }}

            <button type="submit" class="btn btn-primary">가입하기</button> {% endcomment %}

            <!-- 추가적인 필드 (예: 프로필 이미지) -->
            {% comment %} <div class="form-group">
                <label for="{{ profile_form.user_image.id_for_label }}">프로필 사진 :</label>
                {{ profile_form.user_image }}
            </div> {% endcomment %}

            <div class="form-group">
                <label class="file-label" for="{{ profile_form.user_image.id_for_label }}">프로필 사진 :</label>
                    <div class="contents">
                    <div class="upload-box">
                        <div id="drop-file" class="drag-file">
                            {{ profile_form.user_image }}
                        <img src="" alt="미리보기 이미지" class="preview">
                        </div>
                        {% comment %} <input class="file" name="images" multiple id="chooseFile" type="file" onchange="dropFile.handleFiles(this.files)" accept="image/png, image/jpeg, image/gif"> {% endcomment %}
                    </div>
                </label>
            </div>

            <div class="form-group">
                <label for="{{ user_form.username.id_for_label }}">아이디 :</label>
                {{ user_form.username }}
            </div>
        
            <!-- Password1 필드 -->
            <div class="form-group">
                <label for="{{ user_form.password1.id_for_label }}">비밀번호 :</label>
                {{ user_form.password1 }}
            </div>
        
            <!-- Password2 필드 -->
            <div class="form-group">
                <label for="{{ user_form.password2.id_for_label }}">비밀번호 확인 :</label>
                {{ user_form.password2 }}
            </div>

            <!-- Email 필드 (직접 입력) -->
            <div class="form-group">
                <label for="id_email">이메일 :</label>
                <input type="email" class="form-control" id="id_email" name="email" required>
                <button type="button" class="btn btn-primary" id="check_email">중복 확인</button>
                <span id="email_error_message" style="color: red;"></span>
            </div>
        
            <!-- Profile Form 필드 -->
            <div class="form-group">
                <label for="{{ profile_form.nickname.id_for_label }}">닉네임 :</label>
                {{ profile_form.nickname }}
                <button type="button" class="btn btn-primary" id="check_nickname">중복 확인</button>
                <span id="nickname_error_message" style="color: red;"></span>
            </div>
        
            <!-- 기타 Profile Form 필드 (전화번호, 주소 등) -->
            <div class="form-group">
                <label for="{{ profile_form.phone_number.id_for_label }}">휴대폰 번호 :</label>
                {{ profile_form.phone_number }}
            </div>
        
            <div class="form-group">
                <label for="{{ profile_form.address.id_for_label }}">주소 :</label>
                {{ profile_form.address }}
            </div>
        
            <div class="form-group">
                <label for="{{ profile_form.detailed_address.id_for_label }}">상세 주소:</label>
                {{ profile_form.detailed_address }}
            </div>
        
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="id_is_seller" name="is_seller">
                <label class="form-check-label" for="id_is_seller">판매자</label>
            </div>
        
            <button type="submit" class="btn btn-primary" style="margin : 20px 0;">회원가입</button>
            <button id="cancelBtn" class="btn btn-primary" style="margin: 20px 0;">취소</button>        
        </form>
    </div>
</div>
<script>
    document.getElementById("cancelBtn").addEventListener("click", function() {
        window.location.href = "{% url 'index' %}";
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#check_email').click(function() {
            var email = $('#id_email').val();
            checkDuplicate('email', email, '#email_error_message');
        });

        $('#check_nickname').click(function() {
            var nickname = $('#id_nickname').val();
            checkDuplicate('nickname', nickname, '#nickname_error_message');
        });

        function checkDuplicate(fieldType, fieldValue, errorMessageElement) {
            $.ajax({
                url: '/check_duplicate/',
                method: 'GET',
                data: {
                    'field_type': fieldType,
                    'field_value': fieldValue
                },
                success: function(response) {
                    if (response.is_taken) {
                        $(errorMessageElement).text('이미 사용 중인 ' + fieldType + '입니다.');
                        $(errorMessageElement).removeClass('text-success').addClass('text-danger');  // 사용 불가능 메시지를 빨간색으로 표시
                    } else {
                        $(errorMessageElement).text('사용 가능한 ' + fieldType + '입니다.');
                        $(errorMessageElement).removeClass('text-danger').addClass('text-success');  // 사용 가능 메시지를 파란색으로 표시
                    }
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });
        }
    });
</script>

<script>
    function DropFile(dropAreaId, fileListId) {
        let dropArea = document.getElementById(dropAreaId);
        let fileList = document.getElementById(fileListId);
      
        function preventDefaults(e) {
          e.preventDefault();
          e.stopPropagation();
        }
      
        function highlight(e) {
          preventDefaults(e);
          dropArea.classList.add("highlight");
        }
      
        function unhighlight(e) {
          preventDefaults(e);
          dropArea.classList.remove("highlight");
        }
      
        function handleDrop(e) {
          unhighlight(e);
          let dt = e.dataTransfer;
          let files = dt.files;
      
          handleFiles(files);
      
          const fileList = document.getElementById(fileListId);
          if (fileList) {
            fileList.scrollTo({ top: fileList.scrollHeight });
          }
        }
      
        function handleFiles(files) {
          files = [...files];
          // files.forEach(uploadFile);
          files.forEach(previewFile);
        }
      
        function previewFile(file) {
          console.log(file);
          renderFile(file);
        }
      
        function renderFile(file) {
          let reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onloadend = function () {
            let img = dropArea.getElementsByClassName("preview")[0];
            img.src = reader.result;
            img.style.display = "block";
          };
        }
      
        dropArea.addEventListener("dragenter", highlight, false);
        dropArea.addEventListener("dragover", highlight, false);
        dropArea.addEventListener("dragleave", unhighlight, false);
        dropArea.addEventListener("drop", handleDrop, false);
      
        return {
          handleFiles
        };
      }
      
      const dropFile = new DropFile("drop-file", "files");
  </script>
{% endblock %}