{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <form action="{% url 'cart:product_add' object.id %}" method="post">
        {{ add_to_cart }}
        {% csrf_token %}
        <div class="row">

            <div class="col-md-6 mb-3">
                <!-- 상품 이미지 슬라이더 -->
                <div id="productImageCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in object.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image_url }}" class="d-block w-100" alt="{{ object.name }} 이미지">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#productImageCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">이전</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#productImageCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">다음</span>
                      </button>
                </div>
            </div>

            <div class="col-md-6">
                <!-- 상품 상세 정보 -->
                <h2>{{ object.name }}</h2>
                <p class="text-muted">{{ object.category.name }}</p>
                <p>{{ object.description }}</p>
                <p class="font-weight-bold">가격: {{ object.price }}원</p>
                <p>판매자: {{ object.seller.username }}</p>
                <p>특징: {{ object.specific }}</p>

                <button type="submit" class="btn btn-primary mt-3">장바구니에 추가</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
