{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<style>
  /* ------------------------------- */
.expand-button {
  display: inline-block; /* 더보기 버튼을 표시하는 스타일 */
}

.collapse-button {
  display: none; /* 접기 버튼을 숨기는 스타일 */
}
/* 스크롤 바 루트처럼 안보이게 하기 위해서 */
.modal-content::-webkit-scrollbar {
  display: none; /* WebKit 브라우저(예: Chrome, Safari)의 스크롤바를 숨김 */
}
/* 모달창 수정삭제 위치 이상하게 되서 위치 조정 */
/* 수정 삭제 아이콘 및 드롭다운 메뉴 위치 조정 */
.modal-content .edit-delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999; /* 다른 내용 위에 표시되도록 설정 */
}

.modal-content .dropdown-menu {
    min-width: auto; /* 드롭다운 메뉴의 최소 너비를 자동으로 조정 */
    right: 0; /* 아이콘 오른쪽에 정렬 */
    left: auto;
    top: 30px; /* 수정 삭제 아이콘 아래에 표시되도록 조정 */
}

/* 드롭다운 아이템의 아이콘과 텍스트 사이의 여백을 조정 */
.modal-content .dropdown-menu .dropdown-item i {
    margin-right: 5px;
}
/* 게시물 내용이 3줄 이상인 경우에만 더보기/접기 버튼 표시 */
.post-body.collapsed {
  max-height: 60px; /* 최대 높이 설정 */
  overflow: hidden; /* 초과 내용 숨김 */
}
/* ------------------------------------------------------ */
  #comment-text {
    resize: none;
}

/* ------------------ */
/* 댓글 섹션 스타일 */
.comment-section {
    margin-top: 20px;
}

/* 댓글 컨테이너 스타일 */
.comment-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

/* 댓글 헤더 스타일 */
.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* 사용자 이름 스타일 */
.comment-header h6 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

/* 댓글 내용 스타일 */
.comment-container p {
    margin-bottom: 10px;
    font-size: 16px;
}

/* 좋아요 버튼 및 개수 스타일 */
.like-count {
    font-size: 14px;
    color: #777;
    margin-right: 10px;
}

.like-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

/* 작성일 및 수정 여부 스타일 */
.comment-date {
    font-size: 12px;
    color: #999;
}

/* 좋아요 버튼 스타일 */
.like-btn i {
    font-size: 18px;
    margin-right: 5px;
}

/* 드롭다운 아이콘 스타일 */
.edit-delete-icon {
    color: #777;
    cursor: pointer;
}

/* 드롭다운 메뉴 스타일 */
.dropdown-menu {
    min-width: 150px;
}

.dropdown-menu a {
    color: #333;
}

.dropdown-menu button {
    color: #333;
}

  /* ------------------ */
  .btn.dropdown-toggle::after {
  content: none; /* 화살표 제거 */
  }
  .btn.dropdown-toggle::before {
  content: "..."; /* 점 세 개 추가 */
  font-size: 1.2rem; /* 점 세 개 크기 조정 */
  color: #333; /* 점 세 개 색상 조정 */
  }
  .edit-delete-buttons {
    position: absolute; /* 절대 위치 지정 */
    top: 35px; /* 상단에서 n px 떨어진 곳에 위치 */
    right: 0px; /* 오른쪽에서 n px 떨어진 곳에 위치 */
    z-index: 2; /* 이미지 위에 표시되도록 z-index 설정 */
  }


  .edit-delete-buttons {
    float: right; /* 오른쪽 정렬 */
    margin-top: -35px; /* 버튼을 카드 상단 쪽으로 옮기기 */
  }
  .custom-card {
    max-width: 600px; 
    margin: auto; 
  }
  .carousel-item .feed-image {
    object-fit: contain;
    width: 100%;
    height: 500px;
  }
  .carousel-item {
    transition: transform 1s ease, opacity 0.5s ease; 
  }
  .no-underline {
    text-decoration: none; 
  }
  .comment-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  .comment-actions {
    display: flex;
    gap: 10px;
  }
  .comment-actions button {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 14px;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    filter: invert(1);
  }
</style>
<div class="container mt-5">
  <div class="card custom-card" style="position: relative;"> <!-- 상대 위치 지정 -->
    {% if post.feed_images.all %}
      <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
        <div class="carousel-inner">
          {% for image in post.feed_images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ image.image.url }}" class="d-block w-100 feed-image" alt="...">
            </div>
          {% endfor %}
        </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
          </button>
        </div>
      {% endif %}
        

      <div class="card-body">
        <!-- 아래 코드에서 post.user.id 를 post.user.pk 로 변경 -->
        <h2><a href="{% url 'feed:view_user' pk=post.user.pk %}">{{ post.user.username }}</a></h2>
        <h2>{{ post.title }}</h2>
        <p class="mt-3">{{ post.body_text|linebreaksbr  }}</p> <!-- 수정 줄바꿈 허용-->
        
        <!-- 좋아요 버튼 수정 -->
        <a href="#" class="no-underline like-button" data-post="{{ post.id }}">
          {% if user in post.likes.all %}
            <span class="likes-count">❤️</span>
          {% else %}
            <span class="likes-count">🤍</span>
          {% endif %}
        </a>
        : <span class="likes-count">{{ post.likes.count }}</span>

        {% if post.content_type == 'review' and post.product %}
          <hr>
          <h5>제품 리뷰</h5>
          <p>제품명: {{ post.product.name }}</p>
          <p>판매자: {{ post.seller.username }}</p>
        {% endif %}
        
        <!-- 게시글에 대한 수정 삭제 버튼, 드롭다운 메뉴 형태로 표시 -->
        {% if request.user == post.user or request.user.is_staff %}
        <div class="edit-delete-buttons">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            </button>            
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="{% url 'feed:post_edit' post.pk %}">수정</a></li>
              <li>
                <form action="{% url 'feed:post_delete' post.id %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item">삭제</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
        {% endif %}

<!-- -------------------------------------------------- -->

      <!-- ----------------- 모달 사용하여 위젯 생성------------------------------  -->
      <div class="modal fade" id="commentWidgetModal" tabindex="-1" aria-labelledby="commentWidgetModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 800px;" > <!-- 모달창 크기-->
          <div class="modal-content " style="max-height: 800px; overflow-y: auto;" > <!-- 모달창 스크롤 -->
            <div class="modal-header">
              <h5 class="modal-title" id="commentWidgetModalLabel">댓글({{comments_count}})</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <h2><a href="{% url 'feed:view_user' post.user.id %}">{{ post.user.username }}</a></h2>
                    <h2>{{ post.title }}</h2>
                    <p class="mt-3 post-body collapsed">{{ post.body_text|linebreaksbr }}</p> <!-- 수정 줄바꿈 허용-->
                    <!-- 게시물 내용의 더보기 버튼 (아이콘: ▾) -->
                    <button class="btn btn-sm btn-secondary expand-button">&#x25BE;</button>
                    <!-- 게시물 내용의 접기 버튼 (초기에는 숨겨둠, 아이콘: ▴) -->
                    <button class="btn btn-sm btn-secondary collapse-button" style="display: none;">&#x25B4;</button>
                                        

                    {% if post.content_type == 'review' and post.product %}
                        <hr>
                        <h5>제품 리뷰</h5>
                        <p>제품명: {{ post.product.name }}</p>
                        <p>판매자: {{ post.seller.username }}</p>
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    <p> {{ post.created_at|date:"Y-m-d H:i" }} </p>
                  </div>
                </div>
              <!-- 댓글 전체 표시 -->
              <div class="modal-header">
                <h5 class="modal-title">댓글 입력</h5>
                
            </div>
            <div class="modal-body">
              <form id="comment-form" action="{% url 'feed:comments_create' post.id %}" method="post" onsubmit="submitComment(event)">
                {% csrf_token %}
                <textarea class="form-control" id="comment-text" name="comment_text" rows="3" placeholder="댓글을 입력하세요..."></textarea>
                <button type="submit" class="btn btn-primary mt-3">작성</button>
            </form>
          </div>
            

<!-- 댓글들 -->

<div class="comment-section">
  {% if most_liked_comment %}
  <!-- 최고 좋아요를 받은 댓글 -->
  <div class="comment-container">
      <div class="comment-header d-flex justify-content-between align-items-center">
          <div>
              <h6>{{ most_liked_comment.user.username }}</h6>
              <p>{{ most_liked_comment.comment_text|linebreaksbr }}</p> <!-- 수정 줄바꿈 허용-->
              <div class="row align-items-center">
                  <div class="col-auto">
                      <button class="like-btn btn-primary" data-comment-id="{{ most_liked_comment.pk }}">
                          {% if request.user.is_authenticated %}
                              {% if request.user in most_liked_comment.likes.all %}
                                  <i class="fas fa-heart text-danger"></i> <!-- 좋아요를 누른 경우 -->
                              {% else %}
                                  <i class="far fa-heart text-secondary"></i> <!-- 좋아요를 누르지 않은 경우 -->
                              {% endif %}
                          {% else %}
                              <i class="far fa-heart text-secondary"></i> <!-- 로그인하지 않은 경우 -->
                          {% endif %}
                      </button>
                  </div>
                  <div class="col-auto">
                      <span class="like-count">좋아요({{ most_liked_comment.likes.count }})</span> <!-- 좋아요 개수 표시 -->
                  </div>
              </div>
              <div class="comment-date">
                  <p>{{ most_liked_comment.created_at }}
                      {% if most_liked_comment.created_at != most_liked_comment.updated_at %}
                          (수정됨)
                      {% endif %}
                  </p>
              </div>
          </div>
          <div class="comment-actions">
            {% if request.user == most_liked_comment.user or request.user.is_staff %}
              <div class="dropdown">
                  <button class="btn btn-link dropdown-toggle-1 p-0 edit-delete-icon" type="button" id="dropdownMenuButton{{ most_liked_comment.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-lg"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ most_liked_comment.pk }}">
                      {% if request.user == most_liked_comment.user or request.user.is_staff %}
                      <form action="{% url 'feed:comments_delete' most_liked_comment.pk %}" method="post" class="d-inline">
                          {% csrf_token %}
                          <button type="submit" class="dropdown-item trash-icon"><i class="fas fa-trash-alt fa-lg"></i> 삭제</button>
                      </form>
                      {% endif %}
                      {% if request.user == most_liked_comment.user or request.user.is_staff %}
                      <a href="{% url 'feed:comments_update' most_liked_comment.pk %}" class="dropdown-item edit-icon"><i class="fas fa-edit fa-lg"></i> 수정</a>
                      {% endif %}
                  </div>
              </div>
            {% endif %}
          </div>
      </div>
      
  </div>
  {% else %}
  <!-- 댓글이 없을 때 표시 -->
  <p>댓글이 없습니다.</p>
  {% endif %}

  <!-- 나머지 댓글들 -->
  {% for comment in other_comments %}
  <div class="comment-container">
      <div class="comment-header d-flex justify-content-between align-items-center">
          <div>
              <h6>{{ comment.user.username }}</h6>
              <p>{{ comment.comment_text|linebreaksbr }}</p> <!-- 수정 줄바꿈 허용-->
              <div class="row align-items-center">
                  <div class="col-auto">
                      <button class="like-btn" data-comment-id="{{ comment.pk }}">
                          {% if request.user.is_authenticated %}
                              {% if request.user in comment.likes.all %}
                                  <i class="fas fa-heart text-danger"></i> <!-- 좋아요를 누른 경우 -->
                              {% else %}
                                  <i class="far fa-heart text-secondary"></i> <!-- 좋아요를 누르지 않은 경우 -->
                              {% endif %}
                          {% else %}
                              <i class="far fa-heart text-secondary"></i> <!-- 로그인하지 않은 경우 -->
                          {% endif %}
                      </button>
                  </div>
                  <div class="col-auto">
                      <span class="like-count">좋아요({{ comment.likes.count }})</span> <!-- 좋아요 개수 표시 -->
                  </div>
              </div>
              <div class="comment-date">
                  <p>{{ comment.created_at }}
                      {% if comment.created_at != comment.updated_at %}
                          (수정됨)
                      {% endif %}
                  </p>
              </div>
          </div>
          <div class="comment-actions">
            {% if request.user == comment.user or request.user.is_staff %}            
              <div class="dropdown">
                  <button class="btn btn-link dropdown-toggle-1 p-0 edit-delete-icon" type="button" id="dropdownMenuButton{{ comment.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-lg"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ comment.pk }}">
                      {% if request.user == comment.user or request.user.is_staff %}
                      <form action="{% url 'feed:comments_delete' comment.pk %}" method="post" class="d-inline">
                          {% csrf_token %}
                          <button type="submit" class="dropdown-item trash-icon"><i class="fas fa-trash-alt fa-lg"></i> 삭제</button>
                      </form>
                      {% endif %}
                      {% if request.user == comment.user or request.user.is_staff %}
                      <a href="{% url 'feed:comments_update' comment.pk %}" class="dropdown-item edit-icon"><i class="fas fa-edit fa-lg"></i> 수정</a>
                      {% endif %}
                  </div>
              </div>
            {% endif %}
          </div>
      </div>
      
  </div>
  {% endfor %}
</div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- ----------------- 모달 생성 끝 ------------------------------  -->

      <!-- 게시글 댓글에서 좋아요가 많은 댓글만 표시 -->
  {% if most_liked_comment %}
  <!-- 최고 좋아요를 받은 댓글 -->
  <div class="comment-container">
      <div class="comment-header d-flex justify-content-between align-items-center">
          <div>
              <h6>{{ most_liked_comment.user.username }}</h6>
              <p>{{ most_liked_comment.comment_text|linebreaksbr }}</p> <!-- 수정 줄바꿈 허용-->
              <div class="row align-items-center">
                  <div class="col-auto">
                      <button class="like-btn btn-primary" data-comment-id="{{ most_liked_comment.pk }}">
                          {% if request.user.is_authenticated %}
                              {% if request.user in most_liked_comment.likes.all %}
                                  <i class="fas fa-heart text-danger"></i> <!-- 좋아요를 누른 경우 -->
                              {% else %}
                                  <i class="far fa-heart text-secondary"></i> <!-- 좋아요를 누르지 않은 경우 -->
                              {% endif %}
                          {% else %}
                              <i class="far fa-heart text-secondary"></i> <!-- 로그인하지 않은 경우 -->
                          {% endif %}
                      </button>
                  </div>
                  <div class="col-auto">
                      <span class="like-count">좋아요({{ most_liked_comment.likes.count }})</span> <!-- 좋아요 개수 표시 -->
                  </div>
              </div>
              <div class="comment-date">
                  <p>{{ most_liked_comment.created_at }}
                      {% if most_liked_comment.created_at != most_liked_comment.updated_at %}
                          (수정됨)
                      {% endif %}
                  </p>
              </div>
          </div>
          <div class="comment-actions">
            {% if request.user == most_liked_comment.user or request.user.is_staff %}
              <div class="dropdown">
                  <button class="btn btn-link dropdown-toggle-1 p-0 edit-delete-icon" type="button" id="dropdownMenuButton{{ most_liked_comment.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-lg"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ most_liked_comment.pk }}">
                      {% if request.user == most_liked_comment.user or request.user.is_staff %}
                      <form action="{% url 'feed:comments_delete' most_liked_comment.pk %}" method="post" class="d-inline">
                          {% csrf_token %}
                          <button type="submit" class="dropdown-item trash-icon"><i class="fas fa-trash-alt fa-lg"></i> 삭제</button>
                      </form>
                      {% endif %}
                      {% if request.user == most_liked_comment.user or request.user.is_staff %}
                      <a href="{% url 'feed:comments_update' most_liked_comment.pk %}" class="dropdown-item edit-icon"><i class="fas fa-edit fa-lg"></i> 수정</a>
                      {% endif %}
                  </div>
              </div>
            {% endif %}
          </div>
      </div>
      
  </div>
  {% else %}
  <!-- 댓글이 없을 때 표시 -->
  <p>댓글이 없습니다.</p>
  {% endif %}

      

      <!-- 더보기 버튼 -->
      <div class="bg_lm">
        <button type="button" class="bg_lp btn btn-light border" aria-label="댓글 보러 가기" data-bs-toggle="modal" data-bs-target="#commentWidgetModal">
          <div class="bg_c7 t5">댓글 ({{ comments_count }})개 보기</div>
        </button>
      </div>
      
    </div>
  </div>
</div>
<!-- --------------------------------------------------------------------------- -->
<script>
// Django에서 제공하는 CSRF 토큰 가져오기
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

document.addEventListener("DOMContentLoaded", function(){
  const likeButtons = document.querySelectorAll('.like-button');
  
  likeButtons.forEach(button => {
    button.addEventListener('click', function(e){
      e.preventDefault();
      const postId = this.dataset.post; 
      console.log(csrftoken);

      fetch(`{%url "feed:like-content" post.id%}`, {
        method: 'POST',
        
        headers: {
          'X-CSRFToken': csrftoken,
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          'postId': postId,
        })
      })
      .then(response => response.json())
      .then(data => {
        const likeButton = this;
        const likesCountElement = likeButton.querySelector('.likes-count');
        likesCountElement.innerText = data.is_liked ? '❤️' : '🤍';
        likeButton.nextElementSibling.innerText = data.likes_count;
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });
  });
});
</script>
<!-- -------------------------------------------------------------------------------------- -->
<!-- AJAX를 사용하여 좋아요 요청을 보내고 응답을 처리하는 JavaScript 코드 -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // 좋아요 버튼 클릭 이벤트 처리
    document.querySelectorAll('.like-btn').forEach(function(button) {
      button.addEventListener('click', function() {
        var commentId = this.getAttribute('data-comment-id');
        var likeCount = this.closest('.row').querySelector('.like-count');
        var heartIcon = this.querySelector('i'); // 하트 아이콘

        // AJAX를 사용하여 서버로 좋아요 요청을 보냄
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/feed/comment_like/' + commentId + '/');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onload = function() {
          if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            // 서버로부터 좋아요 요청에 대한 응답을 받으면 좋아요 숫자를 업데이트
            likeCount.textContent ='좋아요(' + response.likes_count + ')';

            // 좋아요 버튼의 아이콘 변경
            if (response.liked) {
              heartIcon.classList.remove('far'); // 빈 하트 클래스 제거
              heartIcon.classList.add('fas');  // 채워진 하트 클래스 추가
              heartIcon.classList.add('text-danger'); // 하트 색상 변경
            } else {
              heartIcon.classList.remove('fas'); // 채워진 하트 클래스 제거
              heartIcon.classList.add('far');  // 빈 하트 클래스 추가
              heartIcon.classList.remove('text-danger'); // 하트 색상 제거
            }
          } else {
            console.error('Request failed. Error: ' + xhr.status);
          }
        };
        xhr.send(JSON.stringify({}));
      });
    });
  });
</script>
<!-- 게시물 3중이상 더보기/접기 -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // 게시글 내용 요소
      var postBody = document.querySelector('.post-body');
      // 게시글 내용의 높이
      var postBodyHeight = postBody.clientHeight;
      // 기본 최대 높이 (3줄로 설정)
      var maxHeight = 60;

      // 게시글 내용이 최대 높이보다 클 경우 더보기 버튼 표시
      if (postBodyHeight > maxHeight) {
          // 최대 높이 설정
          postBody.style.maxHeight = maxHeight + 'px';
          // 더보기 버튼 표시
          document.querySelector('.expand-button').style.display = 'block';
      }

      // 더보기/접기 버튼 클릭 이벤트 처리
      var expandButton = document.querySelector('.expand-button');
      var collapseButton = document.querySelector('.collapse-button');

      expandButton.addEventListener('click', function() {
          // 최대 높이 해제
          postBody.style.maxHeight = 'none';
          // 더보기 버튼 아이콘 변경
          expandButton.innerHTML = '&#x25B4;'; // ▴ 아이콘
          // 더보기 버튼 숨김
          expandButton.style.display = 'none';
          // 접기 버튼 표시
          collapseButton.style.display = 'block';
      });

      collapseButton.addEventListener('click', function() {
          // 최대 높이 재설정
          postBody.style.maxHeight = maxHeight + 'px';
          // 더보기 버튼 아이콘 변경
          expandButton.innerHTML = '&#x25BE;'; // ▾ 아이콘
          // 접기 버튼 숨김
          collapseButton.style.display = 'none';
          // 더보기 버튼 표시
          expandButton.style.display = 'block';
      });
  });
</script>

  

    <!-- 수정,삭제 ...아이콘에 넣기 -->
<script>
  // 아이콘 클릭 이벤트 처리
  document.addEventListener('DOMContentLoaded', function() {
      var editDeleteIcons = document.querySelectorAll('.edit-delete-icon');
      editDeleteIcons.forEach(function(icon) {
          icon.addEventListener('click', function(event) {
              event.stopPropagation(); // 이벤트 전파 방지

              // 현재 클릭한 아이콘의 드롭다운 메뉴를 토글
              var dropdownMenu = this.nextElementSibling;
              if (dropdownMenu.style.display === 'none' || dropdownMenu.style.display === '') {
                  dropdownMenu.style.display = 'block';
              } else {
                  dropdownMenu.style.display = 'none';
              }
          });
      });
  });
</script>
<script>
  function validateComment() {
      var commentText = document.getElementById('comment-text').value.trim();
      if (commentText === '') {
          alert('댓글을 입력하세요.');
          return false;  // 댓글이 비어있으면 전송을 중지하고 알림을 표시합니다.
      }
      return true;  // 댓글이 작성되었으면 전송을 계속합니다.
  }
</script>
<!-- ---------------------------------------------------------------- -->



{% endblock %}
