{% extends "base.html" %}
{% load static %}

{% block extra-style %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/infinite_scroll.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row mt-5 gx-2">
    <div class="col-md-12 mx-auto">

        
        <div class="row posts-container">
            {% for post in posts %}
                {% include "feed/post_card.html" %}
            {% empty %}
            {% endfor %}
        </div>
        
        <div class="loading text-center" style="display: none;">로딩 중...</div>
    </div>
    </div>
</div>
{% endblock %}