{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
<div class="container my-4">
  <div class="mb-3 hstack gap-5">
    <h2 class="">판매자 계정</h2>

    {% if user.id == request.user.id %}
    <form action="{% url 'follow:user_detail' request.user.id %}">

      <!-- 팔로우할 사용자의 ID를 hidden input으로 전달 -->
      <button type="submit" class="btn btn-light">일반 계정으로 이동</button>
    </form>
    {% endif %}
  </div>

  <h3>
    <div class="mb-2"><strong>{{ user }}</strong></div>
  </h3>

  <div class="mb-3 hstack gap-1">
    <div class="p-1">팔로우: <span class="badge bg-secondary">{{ user.followers.count }}</span></div>
    <div class="p-1">팔로잉: <span class="badge bg-secondary">{{ user.following.count }}</span></div>
  </div>

  <div><a href="" class="btn btn-light">판매 내역</a></div>
  
  <div class="mt-5 mb-3 hstack gap-5">
    <h4>내 상품</h4>
    <a href="{% url 'product:add_product' %}" class="btn btn-light">상품 등록</a>
  </div>
    <!-- 제품 목록 -->
    <div class="row">
      {% for product in products %}
          <div class="col-md-4 mb-3">
              <a href="{% url 'product:product_detail' product.id %}" style="text-decoration: none;"><div class="card">
                  {% if product_images|get:product.id %}
                  <img src="{{ product_images|get:product.id }}" alt="{{ product.name }} 이미지">
                  {% else %}
                      <!-- 기본 이미지 또는 "이미지 없음" 표시 -->
                      <img src="https://placehold.co/300x200" alt="기본 이미지">
                  {% endif %}
                  <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.description }}</p>
                      <p class="card-text">가격: {{ product.price }}원</p>
                  </div>
              </div>
            </a>
          </div>
      {% empty %}
          <p>표시할 제품이 없습니다.</p>
      {% endfor %}
  </div>

</div>


{% endblock %}