{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-4">
  <div class="mb-3 hstack gap-5">
    <h2 class="">일반 계정</h2>

    {% if user.id == request.user.id and is_seller %}
    <form action="{% url 'follow:is_seller' %}">

      <!-- 팔로우할 사용자의 ID를 hidden input으로 전달 -->
      <input type="submit" value="판매자 계정으로 이동" class="btn btn-light">
    </form>
    {% endif %}
  </div>

  <h3>
    <div class="mb-2"><strong>{{ user }}</strong></div>
  </h3>

  <div class="mb-3 hstack gap-1">
    <div class="p-1">팔로워: <span class="badge bg-secondary">{{ user.followers.count }}</span></div>
    <div class="p-1">팔로잉: <span class="badge bg-secondary">{{ user.following.count }}</span></div>
  </div>

  <div><a href="{% url 'orders:order_history' %}" class="btn btn-light">구매 내역</a></div>
  
  <div class="mt-5 mb-3 hstack gap-5 row">
    <h4>내 게시글</h4>
    <div class="list-group">
      {% for post in posts %}
          <a href="{% url 'feed:post_detail' post.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ post.title }}</h5>
                  <small>{{ post.created_at|date:"Y-m-d H:i" }}</small>
              </div>
              <p class="mb-1">{{ post.body_text|truncatewords:20 }}</p>
              <small>좋아요: {{ post.likes.count }}</small>
          </a>
      {% empty %}
          <p>포스트가 없습니다.</p>
      {% endfor %}
  </div>
  </div>

  <div class="mt-5 mb-3 hstack gap-5 row">
    <h4>내 리뷰</h4>
    <div class="list-group">
      {% for review in reviews %}
          <a href="{% url 'feed:post_detail' review.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ review.title }}</h5>
                  <small>{{ review.created_at|date:"Y-m-d H:i" }}</small>
              </div>
              <p class="mb-1">{{ review.body_text|truncatewords:20 }}</p>
              <small>좋아요: {{ review.likes.count }}</small>
          </a>
      {% empty %}
          <p>포스트가 없습니다.</p>
      {% endfor %}
  </div>
  </div>

</div>

{% endblock %}
