html,
body {
  height: 100%;
  display : flex;
  justify-content: center;
  align-content: center;

}

.form-password-change-form {
  max-width: 550px;
  padding: 1rem;
  display: flex;
  align-content: center;
}

.form-password-change-form .form-floating:focus-within {
  z-index: 2;
}


.form-password-change-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
}

.form-floating {
  width : 350px;
  margin-bottom: 5px;
}
