{% extends 'base.html' %}
{% load static %}
{% block extra-style %}
<style>
    main{
      font-family: 'NanumSquareRound';
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
      --bd-violet-bg: #712cf9;
      --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-violet-bg);
      --bs-btn-border-color: var(--bd-violet-bg);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: #6528e0;
      --bs-btn-hover-border-color: #6528e0;
      --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #5a23c8;
      --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
      z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
      display: block !important;
    }

    .fw-normal{
      margin-top : 25px;
    }
    .container_product{
      margin-top : 100px;
      text-align : center;
    }
    

  </style>
  {% endblock %}

  <link href="{% static 'carousel.css' %}" rel="stylesheet">

{% block content %}
<main>

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-color: #c5e3ed;">
      <img src="{% static 'banner1.png' %}" class="d-flex w-75 m-auto" height="450px" alt="Image Caption">
      <div class="container">
        <div class="carousel-caption text-end">
          <a class="btn btn-lg btn-info" style="margin-right : 20px; margin-bottom: 20px; color: white; font-weight : 600;" href="{% url 'product:product_list' %}">마켓 보러가기 &nbsp;<img style="width : 9px;"src="{% static 'arrow.png' %}"></a>
        </div>
      </div>
    </div>
    <div class="carousel-item" style="background-color : #fbf7ec;">
      <img src="{% static 'banner_2.png' %}" class="d-flex w-75 m-auto text-white" height="450px" alt="Image Caption">      
      <div class="container">
        <div class="carousel-caption text-start">
          <p><a class="btn btn-lg btn-success" style="font-weight : 600;"href="{% url 'feed:index' %}"> 농장 이야기 &nbsp;<img style="width : 9px;"src="{% static 'arrow.png' %}"></a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="450px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="550px" fill="var(--bs-secondary-color)"/></svg>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>One more for good measure.</h1>
          <p>Some representative placeholder content for the third slide of this carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev m-auto" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container marketing" style="margin-top: 80px;">
  <div class="row">
    <div class="col-lg-4" style="text-align:center;">
      <img src="{% static 'icon_1.png' %}" style= "width: 100px; height: auto" alt="Image Caption">
      <h2 class="fw-normal">가장 소량씩, 가장 신선하게</h2>
      <p>적은 양으로 부담없이 즐겨요.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" style="text-align:center;">
      <img src="{% static 'icon_2.png' %}" style= "width: 100px; height: auto" alt="Image Caption">      
      <h2 class="fw-normal">친환경 채소를 가장 저렴하게!</h2>
      <p>30% OFF, 합리적인 가격으로 만나요!</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" style="text-align:center;">
      <img src="{% static 'icon_3.png' %}" style= "width: 100px; height: auto" alt="Image Caption">      
      <h2 class="fw-normal">환경에 한 발 나은 선택</h2>
      <p>환경에 더 가까운 생산과 소비를 지지해요.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


{% endblock %}